PORT=3001
PRODUCTION_MONGO_URI=
DEVELOPMENT_MONGO_URI=mongodb://localhost:27017/hux-assessment
EMAIL_CLIENT_ID=
EMAIL_CLIENT_SECRET=
EMAIL_CLIENT_REFRESH_TOKEN=
EMAIL_CLIENT_ACCESS_TOKEN=
OAUTH_REDIRECT_URI=
EMAIL_USER=
SMTP_HOST=
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_EXPIRES_IN=
